$list-filter-background-color: white;
$list-filter-border-color: #e6e6e6;
$list-filter-head-background-color: #F6F6F6;
$list-filter-select-unselect-color: gray;
$list-filter-option-background-color-hover: #F9F9F9;

.simple-list-filter {
  background-color: $list-filter-background-color;
  padding: 0;
  border: 1px solid $list-filter-border-color;

  .head {
    display: flex;
    cursor: pointer;
    padding: 4px;
    background-color: $list-filter-head-background-color;

    h4 {
      margin: 0;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: calc(100% - 20px);
      font-size: .875rem;
      font-weight: 600;
      line-height: 2;
    }

    .expand-collapse {
      flex: 0 0 20px;
      opacity: .5;
    }
  }

  .body {
    flex: 0 0 100%;
    padding-left: 10px;
    padding-left: 5px;
    max-height: 285px;
    overflow: hidden;
    transition: height .5s;

    label.select-unselect {
      font-size: .875rem;
      font-style: italic;
      color: $list-filter-select-unselect-color;
      cursor: pointer;
    }

    .options-container {

      max-height: 260px;
      overflow-y: auto;

      .option {
        display: flex;
        cursor: pointer;
        margin-bottom: 1px;
        padding: 4px;

        .checkbox {
          flex: 0 0 25px;
        }

        .text {
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: calc(100% - 50px);
          font-size: .875rem;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          line-height: 1;
        }

        .count {
          flex: 0 0 25px;
          font-size: .875rem;
          text-align: right;
          line-height: 1;
        }

        &:hover {
          background-color: $list-filter-option-background-color-hover;
        }
      }

    }
  }
}