$chip-list-background-color: rgba(23, 121, 183, .75);
$chip-list-highlighted-background-color: #FFAE00;
$chip-list-text-color: white;
$chip-list-clear-all-background-color: #CC4B37;

.simple-chip-list {
  .chip {
    display: inline-block;
    background-color: $chip-list-background-color;
    color: $chip-list-text-color;
    padding: 6px;
    margin: 2px;
    font-size: .85rem;
    border-radius: 4px; 
    transition: background-color 1s;

    .remove {
      cursor: pointer;
    }

    &.highlight {
      background-color: $chip-list-highlighted-background-color;
      transition: none;
    }

  }

  .clear-all {
    background-color: $chip-list-clear-all-background-color;
    cursor: pointer;
  }
}